# Load DATA

In [39]:
from pathlib import Path
import pandas as pd
import numpy as np


#LOAD DATA

sympPath =  Path('C:/webDev/pycharm/dieta/data/ak_symptoms.csv')
trigPath =  Path('C:/webDev/pycharm/dieta/data/ak_triggers.csv')


symp_df = pd.read_csv(sympPath)
trig_df = pd.read_csv(trigPath)
symptom_enteries = symp_df
food_enteries = trig_df
all_enteries = pd.concat([symp_df, trig_df], sort=False)
all_enteries['day'] = pd.to_datetime(all_enteries['day'])


display(all_enteries)
#DF display

,ts,symptom,intensity,duration,day,week,month,trigger
0,2019-04-13 04:30:00,gas,35.0,0.0,2019-04-13,2019-04-07,2019-04-01,NaN
1,2019-04-12 08:45:00,gas,10.0,0.0,2019-04-12,2019-04-07,2019-04-01,NaN
2,2019-04-11 15:55:00,gas,60.0,0.0,2019-04-11,2019-04-07,2019-04-01,NaN
3,2019-04-11 02:20:00,gas,75.0,360.0,2019-04-11,2019-04-07,2019-04-01,NaN
4,2019-04-10 02:45:00,gas,75.0,60.0,2019-04-10,2019-04-07,2019-04-01,NaN
5,2019-04-09 07:05:00,gas,25.0,0.0,2019-04-09,2019-04-07,2019-04-01,NaN
6,2019-04-09 00:35:00,gas,40.0,0.0,2019-04-09,2019-04-07,2019-04-01,NaN
7,2019-04-08 05:45:00,gas,25.0,0.0,2019-04-08,2019-04-07,2019-04-01,NaN
8,2019-04-07 16:20:00,gas,60.0,0.0,2019-04-07,2019-04-07,2019-04-01,NaN
9,2019-04-06 15:55:00,gas,35.0,0.0,2019-04-06,2019-03-31,2019-04-01,NaN
10,2019-04-05 15:50:00,gas,75.0,0.0,2019-04-05,2019-03-31,2019-04-01,NaN
11,2019-04-05 06:50:00,gas,75.0,0.0,2019-04-05,2019-03-31,2019-04-01,NaN
12,2019-04-04 07:40:00,gas,25.0,0.0,2019-04-04,2019-03-31,2019-04-01,NaN
13,2019-04-03 05:00:00,gas,60.0,0.0,2019-04-03,2019-03-31,2019-04-01,NaN
14,2019-04-01 06:25:00,gas,50.0,0.0,2019-04-01,2019-03-31,2019-04-01,NaN
15,2019-03-31 05:00:00,gas,90.0,180.0,2019-03-31,2019-03-31,2019-03-01,NaN
16,2019-03-31 05:00:00,bloating,90.0,180.0,2019-03-31,2019-03-31,2019-03-01,NaN
17,2019-03-30 05:30:00,bloating,65.0,0.0,2019-03-30,2019-03-24,2019-03-01,NaN
18,2019-03-30 05:30:00,gas,75.0,0.0,2019-03-30,2019-03-24,2019-03-01,NaN
19,2019-03-29 06:20:00,gas,60.0,280.0,2019-03-29,2019-03-24,2019-03-01,NaN
20,2019-03-28 04:40:00,gas,40.0,0.0,2019-03-28,2019-03-24,2019-03-01,NaN
21,2019-03-24 06:20:00,gas,75.0,0.0,2019-03-24,2019-03-24,2019-03-01,NaN
22,2019-03-24 19:00:00,bloating,70.0,165.0,2019-03-25,2019-03-24,2019-03-01,NaN
23,2019-03-24 19:00:00,gas,85.0,165.0,2019-03-25,2019-03-24,2019-03-01,NaN
24,2019-03-24 17:25:00,gas,15.0,0.0,2019-03-25,2019-03-24,2019-03-01,NaN
25,2019-03-23 06:00:00,bloating,65.0,270.0,2019-03-23,2019-03-17,2019-03-01,NaN
26,2019-03-23 06:00:00,gas,85.0,270.0,2019-03-23,2019-03-17,2019-03-01,NaN
27,2019-03-21 02:00:00,gas,30.0,0.0,2019-03-21,2019-03-17,2019-03-01,NaN
28,2019-03-20 06:30:00,gas,60.0,0.0,2019-03-20,2019-03-17,2019-03-01,NaN
29,2019-03-20 04:50:00,gas,30.0,0.0,2019-03-20,2019-03-17,2019-03-01,NaN
...,...,...,...,...,...,...,...,...
575,2019-03-16 06:35:00,NaN,NaN,NaN,2019-03-16,2019-03-10,2019-03-01,Metamucil
576,2019-03-16 02:30:00,NaN,NaN,NaN,2019-03-16,2019-03-10,2019-03-01,Metamucil
577,2019-03-15 22:15:00,NaN,NaN,NaN,2019-03-16,2019-03-10,2019-03-01,Metamucil
578,2019-03-15 16:15:00,NaN,NaN,NaN,2019-03-15,2019-03-10,2019-03-01,Metamucil
579,2019-03-14 07:10:00,NaN,NaN,NaN,2019-03-14,2019-03-10,2019-03-01,Metamucil
580,2019-03-31 08:45:00,NaN,NaN,NaN,2019-03-31,2019-03-31,2019-03-01,happiness
581,2019-03-23 00:20:00,NaN,NaN,NaN,2019-03-23,2019-03-17,2019-03-01,angry
582,2019-03-18 06:00:00,NaN,NaN,NaN,2019-03-18,2019-03-17,2019-03-01,Love
583,2019-04-10 04:10:00,NaN,NaN,NaN,2019-04-10,2019-04-07,2019-04-01,biking
584,2019-04-10 04:10:00,NaN,NaN,NaN,2019-04-10,2019-04-07,2019-04-01,weightlifting
585,2019-04-09 05:10:00,NaN,NaN,NaN,2019-04-09,2019-04-07,2019-04-01,weightlifting
586,2019-04-09 05:10:00,NaN,NaN,NaN,2019-04-09,2019-04-07,2019-04-01,biking
587,2019-04-08 03:45:00,NaN,NaN,NaN,2019-04-08,2019-04-07,2019-04-01,runnning
588,2019-04-07 02:00:00,NaN,NaN,NaN,2019-04-07,2019-04-07,2019-04-01,biking
589,2019-04-07 02:00:00,NaN,NaN,NaN,2019-04-07,2019-04-07,2019-04-01,weightlifting
590,2019-04-05 02:00:00,NaN,NaN,NaN,2019-04-05,2019-03-31,2019-04-01,biking
591,2019-04-05 02:00:00,NaN,NaN,NaN,2019-04-05,2019-03-31,2019-04-01,weightlifting
592,2019-04-02 05:30:00,NaN,NaN,NaN,2019-04-02,2019-03-31,2019-04-01,weightlifting
593,2019-04-02 05:30:00,NaN,NaN,NaN,2019-04-02,2019-03-31,2019-04-01,biking
594,2019-03-30 21:30:00,NaN,NaN,NaN,2019-03-31,2019-03-31,2019-03-01,hiking
595,2019-03-29 02:45:00,NaN,NaN,NaN,2019-03-29,2019-03-24,2019-03-01,weightlifting
596,2019-03-29 02:45:00,NaN,NaN,NaN,2019-03-29,2019-03-24,2019-03-01,biking
597,2019-03-23 21:45:00,NaN,NaN,NaN,2019-03-24,2019-03-24,2019-03-01,walking
598,2019-03-22 03:30:00,NaN,NaN,NaN,2019-03-22,2019-03-17,2019-03-01,biking
599,2019-03-22 03:30:00,NaN,NaN,NaN,2019-03-22,2019-03-17,2019-03-01,weightlifting
600,2019-03-20 03:30:00,NaN,NaN,NaN,2019-03-20,2019-03-17,2019-03-01,biking
601,2019-03-20 03:30:00,NaN,NaN,NaN,2019-03-20,2019-03-17,2019-03-01,weightlifting
602,2019-03-17 23:10:00,NaN,NaN,NaN,2019-03-18,2019-03-17,2019-03-01,walking
603,2019-03-16 18:30:00,NaN,NaN,NaN,2019-03-17,2019-03-17,2019-03-01,walking
604,2019-04-08 23:20:00,NaN,NaN,NaN,2019-04-09,2019-04-07,2019-04-01,piroxicam olamine

# USER STATS Function
*not sure if this should be a function

In [ ]:
###########
# USER USE STATS
###########
def userUseStats():


    total_food_enteries = len(trig_df)

    total_symptom_enteries = len(symp_df)

    total_enteries = len(all_enteries)

    number_days_with_enteries = len(all_enteries.day.unique())

    first_entery = min(all_enteries['day'])

    last_entry = max(all_enteries['day'])

    return {"total_food_enteries": total_food_enteries, "total_symptom_enteries": total_symptom_enteries,
            "number_days_with_enteries": number_days_with_enteries, "first_entery ": first_entery,
            "last_entry": last_entry, "total_enteries": total_enteries}


def printStats(stats=userUseStats()):
    for i in stats.items():
        print(i)

# RANK FUNCTION

In [ ]:
###################
# RANK : CITIZEN SCIENTIST
###################
# formula: number of enteries
# Newbie





def rankBadge(stats=userUseStats()):

    use_stats = stats
    total_enteries = use_stats.get('total_enteries')
    if total_enteries >= 10 and total_enteries < 15:
        return 1
    # Initiate Research
    elif total_enteries >= 15 and total_enteries < 25:
        return 2
    # Casual Researcher
    elif  total_enteries >= 25 and total_enteries < 50:
        return 3
    # Research Enthusiast
    elif  total_enteries >= 50 and total_enteries < 100:
        return 4
    # Scholar
    elif  total_enteries >= 100 and total_enteries < 200:
        return 5
    # Master Researcher
    elif  total_enteries >= 200:
        return 6
    else:
        return 0

# MISC BADGE FUNCTIONS

In [ ]:
##COMPLEX DIET

def complexDietBadge():
    #print(trig_df.head()) Just seeing if everything worked
    complexDiet = trig_df['trigger'].nunique()

    if complexDiet > 50:
        return True
    else:
        return False

In [ ]:
##ARCHIVIST BADGE
def archivistBadge():
    max_enteries_per_day = all_enteries.groupby(['day'])[['symptom','trigger']].count()

    max_enteries_per_day ## see data frame
    ##create sum_symp_trig column out of symptom and trigger column
    max_enteries_per_day['sum_symp_trig'] = max_enteries_per_day['symptom'] + max_enteries_per_day['trigger']
    
    #extract the maximum value as an int from sum_symp_trig
    result = max_enteries_per_day['sum_symp_trig'].max().item()
    
    if result > 20:
        return True
    else:
        return False

In [ ]:
##STREAK BADGE  ##BROKE ATM
"""
streak_enteries = all_enteries
streak_enteries['streak_id'] = (streak_enteries['day']-streak_enteries['day'].shift() != 1).cumsum()

streak_enteries.groupby('streak_id').count()
"""
##Coffee Badge

def coffeeBadge():
    coffee_count = trig_df['trigger'].str.contains('Coffee').sum() + trig_df['trigger'].str.contains('coffee').sum()#or any()
    ##
    ##TOP 10 COFFEE WORDS  :>OBJECT that is food :>Dairy, Gluten, 
    ##make variables which are top 10 of each food category 
    ##
    #test_count = (trig_df['trigger'].str.contains('Coffee')) & (trig_df['trigger'].str.contains('coffee')).sum()

    if coffee_count > 0:
        return True
    else:
        return False
    
    
    
coffeeBadge()
    
###WEEK END WARRIOR BADGE 
#BROKEN
#https://stackoverflow.com/questions/30405413/python-pandas-extract-year-from-datetime-dfyear-dfdate-year-is-not
    
# day_of_the_week = all_enteries    
# day_of_the_week['day_of_the_week'] = day_of_the_week['day'].dt.dayofweek

# OUTPUT

## Stats

In [ ]:
printStats()

## Rank

In [ ]:
print(rankBadge())

## MISC badges

In [ ]:
##Complex diet
print('Complex Diet')
print(complexDietBadge())

print('##Coffee Badge####################')
print(coffeeBadge())

print('ARCHIVIST')
print(archivistBadge())

# Table

In [ ]:
stats = userUseStats()

table = pd.DataFrame({
    "PK_ID": [1],
    "User_ID" : ["Asaf"], 
    "tot_symp_stat": stats.get('total_symptom_enteries'),  
    "tot_trig_stat": stats.get('total_food_enteries'),
    "tot_entery_stat": stats.get('total_enteries'),
    "first_entery":  stats.get('first_entery'),
    "last_entery" : stats.get('last_entry'),
    "rank_badge" :  rankBadge(),
    "complex_diet_badge" : complexDietBadge(),
    "archivist_badge" : archivistBadge(),
    "coffee_badge" : coffeeBadge()},
    index = [1]
)

table

# OVER FLOW DISREGARD

In [ ]:
##OVERFLOW DRAFT AREA###
print('Stats#########################')
printStats()
print('RANK BADGE#########################')
print(rankBadge())
print('Complex DIET#########################')

print(complexDietBadge())

print('##Coffee Badge####################')
print(coffeeBadge())

In [ ]:
""" THE ARCHIVIST function doesn't work because I can't cast the dataframe into a number

def archivist_badge():
    
    
    if max_enteries_per_day.apply(pd.to_numeric) > 20:
        return True
    else:
        return False
    
archivist_badge()
"""

df2 = pd.DataFrame(np.array())

# Test Area

In [27]:
####ORIGIONAL
#category
base = r'{}'
expr = '(?=.*{})'
words = ['Coke', 'Coffee', 'cat']  # example
searchString = base.format(''.join(expr.format(w) for w in words))

#######NEW
#category
base = r'{}'
expr = '(coffee_count.trigger == {} )|'
words = [

'"coffee"',
'latte',



]  # example
searchString = base.format(''.join(expr.format(w) for w in words))

"""
'mocha',
'americano',
'cappuccino',
'brappe',
'breve',
'expresso',
'macchiato',

"""

print(searchString)


#coffee_count= len(coffee_count[(coffee_count.trigger == 'Coffee') | (coffee_count.trigger == 'coffee')])

(coffee_count.trigger == "coffee" )|(coffee_count.trigger == latte )|

In [38]:
##
print(trig_df.groupby(by = trig_df['trigger']))


###OLDER VERSION
simple_coffee_count = trig_df
simple_coffee_count= len(simple_coffee_count[(simple_coffee_count.trigger == 'Coffee') | (simple_coffee_count.trigger == 'coffee')])

#isIN LIST FILTER
filter = ['coffee','Coffee']
coffee_count = trig_df

result = coffee_count.trigger.isin(filter)-trig_df.count()




##COMPLEX
complex_coffee_count = trig_df

complex_coffee_count['trigger'] = complex_coffee_count['trigger'].str.lower()
complex_coffee_count = len(
            complex_coffee_count[
            (trig_df.trigger == coffee )|(trig_df.trigger == latte )
            ])


display(complex_coffee_count)


display(simple_coffee_count)
##newer version
test_coffee_count = ("coffee") in trig_df['trigger'].str.lower()

##Newest version
def coffee_check(x):
    if x in ("Coffee"):
        return True
    else:
        return False

Func = np.vectorize(coffee_check)

c = trig_df.trigger

print("VECTORIZE")
#print(c[Func(c)].count())

print("GROUP BY")
print

#print(test_coffee_count)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001E2F332BB38>

NameError: name 'coffee' is not defined

# CLASS VERSION

Consumes a userID and an optional data source.  If no data source is provided the data variable is a couple of csvs.  

After the data is loaded, the get_user_stats method calculates user stats (e.g. number of food enteries, symptom enteries, total enteries, first entry, last entry).

The userStats attribute is set using this method. 


The next section of the code calculates badges earned by the user. 

The get_rank_badge() method determines what level (rank) of badge the user has earned in the citizen scientist rank.  This badge correlates with the rank badge screen of the user stats area.  The rank is calculated by the number user enteries into the Dieta diary (e.g triggers, symptoms, etc.).  The more enteries the higher the rank. 

The get_complex_diet_badge() method returns a True/False value if the complex diet achievement has been earned.  The badge is dependent on the number of unique trigger items recorded.

The get_archivist_badge method returns a True/False value to determine if the archivist achievement has been earned.  The method calculates the maximum number of diary enteries in a single day.  Users who hit a certain amount of enteries in a single day earn this badge. 

The get_coffee_badge returns a True/ False depending on the number of times a user has recorded coffee in the Dieta diary ( trigger colummn).  

The next section deals with loading badges from an external badge table.  Some badges don't need to be recalculated.  The badge/ user stats area of the Dieta app can load pre calculated badges from the badge table. 

-----
conjecture
-----
this method can consume 


The output section contains 3 methods.  The badge information can be output to the console (in a dataframe), a CSV, or to an external database.  

The create_table() method will create a table from the values above.  
The output_to_csv method will output the table to a csv file. 
The output_to_db method will output the table to a database.

In [ ]:
class Badge():
    
    def __init__(self, userID, csv, database=None )
        self.userID = userID
        
        ##LOAD DATA##
        #From Database
        if data is not None:
            self.data = data
        #From Data CSV for testing
        else:
            symp_df = pd.read_csv(sympPath)
            trig_df = pd.read_csv(trigPath)
            #symptom_enteries = symp_df
            #food_enteries = trig_df
            all_enteries = pd.concat([symp_df, trig_df], sort=False)
            all_enteries['day'] = pd.to_datetime(all_enteries['day'])
            all_enteries['ts'] = pd.to_datetime(all_enteries['ts']) #may break
            
            self.data = all_enteries
    
    
    #stat function
    ###########
    # USER USE STATS
    ###########
    def get_user_stats(self):


        total_food_enteries = len(all_enteries['trigger'])

        total_symptom_enteries = len(all_enteries['symptom'])

        total_enteries = len(all_enteries)

        number_days_with_enteries = len(all_enteries.day.unique())

        first_entery = min(all_enteries['day'])

        last_entry = max(all_enteries['day'])

        return {"total_food_enteries": total_food_enteries, "total_symptom_enteries": total_symptom_enteries,
                "number_days_with_enteries": number_days_with_enteries, "first_entery ": first_entery,
                "last_entry": last_entry, "total_enteries": total_enteries}

    ###SET USER STATS attribute
    self.user_stats = get_user_stats():

    
    def display_user_stats(self):
        for i in self.user_stats.items():
            print(i)
    
    
    
    
    #attribute badges
    
    #get badges
    
    ###################
    # RANK : CITIZEN SCIENTIST
    ###################
    # formula: number of enteries
    # Newbie


    def get_rank_badge(stats=self.userStats):
        
        
        use_stats = userStats
        total_enteries = use_stats.get('total_enteries')
        
        #cut off values for RANK BADGES
        newbVal = 10
        initVal = 15
        casVal = 25
        enthusVal =50
        scholVal =100
        mastVal = 200
        
        
        
        
        #newbie
        if total_enteries >= newbVal and total_enteries < initVal:
            return 1
        # Initiate Research
        elif total_enteries >= initVal and total_enteries < casVal:
            return 2
        # Casual Researcher
        elif  total_enteries >= casVal and total_enteries < enthusVal:
            return 3
        # Research Enthusiast
        elif  total_enteries >= enthusVal and total_enteries < scholVal:
            return 4
        # Scholar
        elif  total_enteries >= scholVal and total_enteries < mastVal:
            return 5
        # Master Researcher
        elif  total_enteries >= mastVal:
            return 6
        else:
            return 'broke'
   
    ############
    #MISC BADGES
    ###########
    
    ##COMPLEX DIET

    def get_complex_diet_badge(self):
        
        COMPLEX_DIET_VAL = 50
        
        #print(trig_df.head()) Just seeing if everything worked
        complexDiet = all_enteries['trigger'].count() #changed from nunique

        if complexDiet > COMPLEX_DIET_VAL:
            return True
        else:
            return False

        
    ##ARCHIVIST BADGE
    def get_archivist_badge(self):
        
        ARCHIVIST_VAL = 20
        
        max_enteries_per_day = all_enteries.groupby(['day'])[['symptom','trigger']].count()

        max_enteries_per_day ## see data frame
        ##create sum_symp_trig column out of symptom and trigger column
        max_enteries_per_day['sum_symp_trig'] = max_enteries_per_day['symptom'] + max_enteries_per_day['trigger']

        #extract the maximum value as an int from sum_symp_trig
        result = max_enteries_per_day['sum_symp_trig'].max().item()

        if result > ARCHIVIST_VAL:
            return True
        else:
            return False  
        
        
    ##Coffee Badge

    def get_coffee_badge(self):
        
        coffee_count = all_enteries['trigger'].str.contains('Coffee').sum() + all_enteries['trigger'].str.contains('coffee').sum()#or any()
        ##
        ##TOP 10 COFFEE WORDS  :>OBJECT that is food :>Dairy, Gluten, 
        ##make variables which are top 10 of each food category 
        ##
        #test_count = (trig_df['trigger'].str.contains('Coffee')) & (trig_df['trigger'].str.contains('coffee')).sum()

        if coffee_count > 0:
            return True
        else:
            return False



    
    ############
    #load badges from DB
    ############
    def get_badges_from_table(self, badgeTableConnection):
        print('This will display all the badges from a table')
    
    
    ##########
    #output 
    ##########
    
    #To Data Frame Method
    def create_table():
        stats = self.userStats

        table = pd.DataFrame({
            "PK_ID": [1],
            "User_ID" : ["Asaf"], 
            "tot_symp_stat": stats.get('total_symptom_enteries'),  
            "tot_trig_stat": stats.get('total_food_enteries'),
            "tot_entery_stat": stats.get('total_enteries'),
            "first_entery":  stats.get('first_entery'),
            "last_entery" : stats.get('last_entry'),
            "rank_badge" :  rankBadge(),
            "complex_diet_badge" : complexDietBadge(),
            "archivist_badge" : archivistBadge(),
            "coffee_badge" : coffeeBadge()},
            index = [1]
        )
    
    def output_to_csv:
        table = create_table()
        table.to_csv(r'C:\webDev\pycharm\dieta\data\export_badges.csv') 
    #https://datatofish.com/export-dataframe-to-csv/
        
    
    #To Database output
    def output_to_db():
        table = create_table()
        #Add to database here
        #
        #
        #
    
    #Not written

# Class Output

In [ ]:
from pathlib import Path
import pandas as pd
import numpy as np


#LOAD DATA

sympPath =  Path('C:/webDev/pycharm/dieta/data/ak_symptoms.csv')
trigPath =  Path('C:/webDev/pycharm/dieta/data/ak_triggers.csv')


def prepare_csv():
    symp_df = pd.read_csv(sympPath)
    trig_df = pd.read_csv(trigPath)
    #symptom_enteries = symp_df
    #food_enteries = trig_df
    all_enteries = pd.concat([symp_df, trig_df], sort=False)
    all_enteries['day'] = pd.to_datetime(all_enteries['day'])
    all_enteries['ts'] = pd.to_datetime(all_enteries['ts']) #may break

asaf = Badge(1)
print(asaf.get_user_stats())
print(asaf.user_stats())

print(asaf.get_rank_badge())

print(get_complex_diet_badge)
print(get_archivist_badge)
print(get_coffee_badge)
print(create_table())